body {
    

    font-weight: bold;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
}

.panel {
    border: 0px;
}

.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading {
    background-color: rgba(94, 87, 71, .7);
    color: white;
}

.panel-transparent .panel-body {
    background: rgba(236, 228, 194, 0.7);
    font-size: 18px;
}

button {
    background-color: rgba(51, 153, 255, .8);
    color: white;
}

button:hover {
    background: rgba(0, 91, 181, 1);
    color: white !important;
}

button:active {
    position: relative;
    top: 2px;
}

button:focus {
    outline: 0px!important;
}

.progress {
    background-color: rgba(94, 87, 71, 0.8);
    width: 100%;
    height: 45px;
}

.progress-bar {
    background-color: rgba(223, 97, 0, 1);
    font-size: 20px;
}

.progress-text {
    margin-top: 10px;
}

.centered {
    margin: auto auto;
    text-align: center;
}

.label-color {
    background-color: rgba(223, 97, 0, 1);
    font-size: 17px;
}

.layer {
    position: absolute;
    margin: auto auto;
}

.full-width {
    width: 100%;
}

.margin20 {
    margin: 20px;
}

tr {
    height: 50px;
}
td {
    font-size: 25px;
}

.margintop30 {
    margin-top: 30px
}

.panel-title {
    font-size: 20px;
    font-weight: bold;
}

.boy {
    background-image: url('../images/boy.png');
    background-repeat: no-repeat;
}

.girl {
    background-image: url('../images/girl.png');
    background-repeat: no-repeat;
}

.wife {
    background-image: url('../images/wife.png');
    background-repeat: no-repeat;
}

.family {
    height: 200px;
    width: 120px;
}

/* navbar */
.navbar-default {
    background-color: rgba(94, 87, 71, .9);
    border: none;
    border-radius: 2px;
    color: white;
}
/* title */
.navbar-default .navbar-brand {
    color: white;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-text {
    color: #A3C2C2!important;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-brand:hover {
    color: rgb(51, 153, 255)!important;
}
img {
    border: none!important;
    outline: none!important;
}
.house {
    background-repeat: no-repeat;
    padding: 0;
    display: block;
    background-size: cover;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
    margin: auto auto;
}
.bench {
    background-image: url('../images/homes/bench.jpg')!important;
}
.hut {
    background-image: url('../images/homes/hut.jpg')!important;
}
.hovel {
    background-image: url('../images/homes/hovel.jpg')!important;
}
.smallhouse {
    background-image: url('../images/homes/smallhouse.jpg')!important;
}
.largehouse {
    background-image: url('../images/homes/largehouse.jpg')!important;
}
.mansion {
    background-image: url('../images/homes/mansion.jpg')!important;
}
.operahouse {
    background-image: url('../images/homes/operahouse.jpg')!important;
}
.castle {
    background-image: url('../images/homes/castle.jpg')!important;
}
.island {
    background-image: url('../images/homes/island.jpg')!important;
}
.treehouse {
    background-image: url('../images/homes/treehouse.jpg')!important;
}