<div id="about" class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="jumbotron">
                <h1 class="text-center">Habit Man</h1>
                <p>Start a new working life and learn great habits!</p>
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation"><a href="#/home">Home</a></li>
                    <li role="presentation"><a href="#/howtoplay">How to Play</a></li>
                    <li role="presentation" class="active"><a href="#/about">About</a></li>
                    <li role="presentation"><a href="">Save</a></li>
                </ul>
            </div>
          </div>
            <div class="col-md-8">
              <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                  <h3 class="panel-title">About</h3>
                </div>
                <div class="panel-body centered">
                	<p>Habit Man is an idle game designed help the user improve daily habits. The user works a job and manages his "Habit Bars" by investing "Habit Power". He earns "Habit Power" by clicking on the "Training" button. During training, the user is shown a series of symptoms of a poor lifestyle, each of which can be quickly solved by choosing the appropriate health tip.<p>

<p>This game will be an effective tool to condition users to build better daily habits:</p>

<p>1. The user will associate specific external cues with an appropriate remedy.</p>

<p>2. In life, we can't learn lifestyle habits quickly because the process is slow. This game allows for quick repetition to facilitate this process</p>

<p>3. Using "upgrades" in this idle game will keep the user interested, along with interesting game content.</p>

                    <p>Who knows, you could use this game, and end up making $10 million!!</p>
                    <h3>GOOD LUCK AND MAY YOUR HABITS LEAD YOU TO UNREASONABLE WEALTH!!!</h3>
                </div>
              </div>
            </div>
        </div>
      </div>