<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron">
                <h1 class="text-center">Habit Man</h1>
                <p>Start a new working life and learn great habits!</p>
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="active"><a href="#/home">Home</a></li>
                    <li role="presentation"><a href="#/howtoplay">How to Play</a></li>
                    <li role="presentation"><a href="#/about">About</a></li>
                    <li role="presentation"><a href="">Save</a></li>
                </ul>
            </div>
            <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                    <p class="panel-title">Progress</p>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Age:</td>
                                <td><span class="label label-color" id="agelabel">{{age}}</span></td>
                            </tr>
                            <tr>
                                <td>Weekly hours:</td>
                                <td><span class="label label-color" id="hourslabel">{{weeklyHours}}</span>
                                    <button type="button" ng-click="rotateHours()" class="btn">Change hours</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Life savings:</td>
                                <td>$<span class="label label-color" id="moneylabel">{{lifeSavings}}</span></td>
                            </tr>
                            <tr>
                                <td>Job title:</td>
                                <td><span class="label label-color" id="joblabel">{{jobtitle}}</span></td>
                            </tr>
                            <tr>
                                <td>Hourly wage:</td>
                                <td>$<span class="label label-color" id="wagelabel">{{hourlyWage}}</span></td>
                            </tr>
                            <tr>
                                <td>Transportation:</td>
                                <td><span class="label label-color" id="transLabel">Legs</span></td>
                            </tr>
                            <tr>
                                <td>Home:</td>
                                <td><span class="label label-color">Park Bench</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" style="{{prodStatus()}}">
                            <p class="progress-text">Productivity</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                    <h3 class="panel-title">Your Body</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-9 margin20">
                            <img class="img-responsive img-rounded layer" ng-src="images/{{goalImage}}">
                            <img class="img-responsive img-rounded layer" ng-src="images/{{detImage}}">
                            <img class="img-responsive img-rounded layer" ng-src="images/{{sleepImage}}">
                            <img class="img-responsive img-rounded layer" ng-src="images/{{exerImage}}">
                            <img class="img-responsive img-rounded layer" ng-src="images/{{dietImage}}">
                            <img class="img-responsive img-rounded" src="images/blank.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                    <h3 class="panel-title">Status</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <button class="full-width btn btn-lg" ng-click="nap()">Nap</button>
                        </div>
                        <div class="col-md-9">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" style="{{sleepStatus()}}">
                                    <p class="progress-text">Sleep</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="full-width btn btn-lg" ng-click="walk()">Walk</button>
                        </div>
                        <div class="col-md-9">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" style="{{exerStatus()}}">
                                    <p class="progress-text">Exercise</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="full-width btn btn-lg" ng-click="snack()">Snack</button>
                        </div>
                        <div class="col-md-9">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" style="{{dietStatus()}}">
                                    <p class="progress-text">Diet</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="full-width btn btn-lg" ng-click="plan()">Plan</button>
                        </div>
                        <div class="col-md-9">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" style="{{goalStatus()}}">
                                    <p class="progress-text">Goals</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="full-width btn btn-lg" ng-click="focus()">Focus</button>
                        </div>
                        <div class="col-md-9">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" style="{{detStatus()}}">
                                    <p class="progress-text">Determination</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn full-width btn-lg">Upgrade Habits<img src="images/arrow.png"></button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn full-width btn-lg">Training <img src="images/weight.png"></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3></h3>
                            <p class="text-center"><span class="label label-color">10</span> Habit Power ready to be invested</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-sm-4 -->
            <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                    <p class="panel-title">Store</p>
                </div>
                <div class="panel-body">
                    <p>Transportation Upgrade:
                        <button type="button" class="disabled btn btn-lg">Old Broomstick for $15</button>
                    </p>
                    <p>Home Upgrade:
                        <button type="button" class="disabled btn btn-lg" id="homeup">Shack for $10,000</button>
                    </p>
                    <p>Pay Taxes:
                        <button type="button" class="disabled btn btn-lg">$1,000</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
