<div id="instruct" class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron">
                <h1 class="text-center">Habit Man</h1>
                <p>Start a new working life and learn great habits!</p>
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation"><a href="#/home">Home</a></li>
                    <li role="presentation"><a href="#/about">About</a></li>
                    <li role="presentation" class="active"><a href="#/howtoplay">How to Play</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                    <h3 class="panel-title">How to Play</h3>
                </div>
                <div class="panel-body centered">
                    <h3>Click things that are
                        <button class="btn btn-lg">green</button>
                    </h3>
                    <h3>Watch your progress from info in <span class="label label-color">orange labels</span></h3>
                    <h3>Your goal is to see how far you can progress in the game before dying of old age.</h3>
                    <h3>Earn Habit Power by clicking
                        <button class="btn btn-lg">Training<img src="images/weight.png"></button>
                    </h3>
                    <h3>Invest your Habit Power by clicking
                        <button class="btn btn-lg">Upgrade<img src="images/arrow.png"></button>.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
