<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/home">Habit Man</a>
      <p class="navbar-text"><i>Start a new working life and learn great habits!</i><p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li><a href="#/about">About</a></li>
        <li><a href="#/howtoplay">How to Play</a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>

<div id="instruct" class="container-fluid">
    <div class="row">
        <div class="col-lg-push-2 col-lg-8">
            <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                    <h3 class="panel-title">How to Play</h3>
                </div>
                <div class="panel-body centered">
                    <h3>Click things that are
                        <button class="btn btn-lg">green</button>
                    </h3>
                    <h3>Earn Habit Power by clicking
                        <button class="btn btn-lg">Training<img src="images/weight.png"></button>
                    </h3>
                    <h3>Invest your Habit Power by clicking
                        <button class="btn btn-lg">Upgrade<img src="images/arrow.png"></button>.</h3>
                    <h3>You get promoted when your productivity bar fills up all the way.</h3>
                    <h3>Transportation upgrades make your productivity accelerate faster.</h3>
                    <h3>Home upgrades increase your Habit Power earned per correct answer in the Training mode.</h3>
                    <h3>Ascend to the next tier in the Upgrade section in order to reset your stress levels to zero. Unfortunately, this also increases how fast stress accumulates in the future.</h3>
                    <h3>Working more hours per week makes more money, but increases your stress levels.</h3>
                    <h3>Your goal is to buy a really nice house, have a huge family, and make a ridiculous amount of money.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
