<div id="instruct" class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron">
                <h1 class="text-center">Habit Man</h1>
                <p>Start a new working life and learn great habits!</p>
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation"><a href="#/home">Home</a></li>
                    <li role="presentation"><a href="#/about">About</a></li>
                    <li role="presentation" class="active"><a href="#/howtoplay">How to Play</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                    <h3 class="panel-title">How to Play</h3>
                </div>
                <div class="panel-body centered">
                    <p>Click things that are
                        <button type="button" class="btn btn-lg">green</button>
                    </p>
                    <p>Watch your progress from info in <span class="label label-color">orange labels</span></p>
                    <p>Earn Habit Power by clicking
                        <button>Training <img src="images/weight.png"></button>
                    </p>
                    <p>After you have earned Habit Power, you can then invest your Habit Power by choosing which habits to upgrade, by clicking
                        <button>Upgrade Habits<img src="images/arrow.png"></button>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
