<div id="instruct" class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron">
                <h1 class="text-center">Habit Man</h1>
                <p>Start a new working life and learn great habits!</p>
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation"><a href="#/home">Home</a></li>
                    <li role="presentation"><a href="#/about">About</a></li>
                    <li role="presentation"><a href="#/howtoplay">How to Play</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                    <h3 class="panel-title">Training</h3>
                </div>
                <div class="panel-body centered">
                    <h3>Two symptoms:</h3>
                    <p>{{symptom}}</p>
                    <p>{{symptom2}}</p>
                    <div class="row">
                        <div class="col-md-6" ng-repeat="choice in choices track by $index">
                            <button class="btn btn-lg margintop30" ng-click="response($index)">{{choice}}</button>
                        </div>
                    </div>
                    <h3 class="margintop30">{{hpEarned}} Habit power earned!!</h3>
                    <a href="#/home"><button href="#/" class="btn btn-lg">Back</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
