<div id="upgradehabits" class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron">
                <h1 class="text-center">Habit Man</h1>
                <p>Start a new working life and learn great habits!</p>
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation"><a href="#/home">Home</a></li>
                    <li role="presentation"><a href="#/about">About</a></li>
                    <li role="presentation"><a href="#/howtoplay">How to Play</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                    <h3 class="panel-title">Upgrade Habits</h3>
                </div>
                <div class="panel-body centered">
                    <h3>Available Habit Power: <span class="label label-color">{{habitpower}}</span></h3>
                    <button ng-click="upgradesleep()">upgrade sleep</button>
                    <button ng-click="upgradeexer()">upgrade exercise</button>
                    <button ng-click="upgradediet()">upgrade diet</button>
                    <button ng-click="upgradegoals()">upgrade goals</button>
                    <button ng-click="upgradedet()">upgrade determination</button>
                </div>
            </div>
        </div>
    </div>
</div>
