<div id="upgradehabits" class="container-fluid">
          <div class="row">
              <div class="col-md-4">
                  <div class="jumbotron">
                      <h1>Habit Man</h1>
                      <p>Start a new working life and learn great habits!</p>
                      <div class="btn-group">
                          <a href="/#/home"><button type="button" class="btn btn-lg">Home</button></a>
              <a href="/#/howtoplay"><button type="button" class="btn btn-lg">How to Play</button></a>
              <a href="#/about"><button type="button" class="btn btn-lg">About</button></a>
                          <button type="button" onclick="save()" class="btn btn-lg">Save Your Progress</button>
                      </div>
                  </div>
              </div>
              <div class="col-md-8">
                  <div class="panel panel-default panel-transparent">
                      <div class="panel-heading">
                          <h3 class="panel-title">Upgrade Habits</h3>
                      </div>
                      <div class="panel-body centered">
                          <h3>Sleep Exercise Diet Goals Determination</h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>