<div id="upgradehabits" class="container-fluid">
          <div class="row">
              <div class="col-md-4">
                  <div class="jumbotron">
                <h1 class="text-center">Habit Man</h1>
                <p>Start a new working life and learn great habits!</p>
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation"><a href="#/home">Home</a></li>
                    <li role="presentation"><a href="#/howtoplay">How to Play</a></li>
                    <li role="presentation"><a href="#/about">About</a></li>
                    <li role="presentation"><a href="">Save</a></li>
                </ul>
            </div>
              </div>
              <div class="col-md-8">
                  <div class="panel panel-default panel-transparent">
                      <div class="panel-heading">
                          <h3 class="panel-title">Upgrade Habits</h3>
                      </div>
                      <div class="panel-body centered">
                          <h3>Sleep Exercise Diet Goals Determination</h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>